@import "tailwindcss";

:root {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

* {
    border-radius: 0;
}

/* index.css or tailwind.css */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #3b3b3b;
    /* light grey */
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888;
    /* darker grey on hover */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}